@charset "UFT-8";

body{
    background-image: linear-gradient(10deg,#D99255 ,#F2BE22); 
}
main{background-color: white;
     border-radius: 5px;
     box-shadow: 0px 1px 10px 0px #805733;
     padding: 5px 10px 5px 10px;
     margin: -8px 0 0 0  ;
     text-align: justify;
    
}
main mark{
    background-image: linear-gradient(to  right,#D99255 50%,#F2BE22);
    padding: 2px;
    border-radius: 5px;
}
main mark:hover{
    font-size: 18px;
}
main a{
    text-decoration: none;
    color: #0086bf;
}
main a:hover{
    font-size: 17px;
    color: #F2BE22;
}
main a::after{
    content:'\1F517' ;
}
h1{
    color: #528db1;
    text-align: center;
    text-shadow: 1px 1px 1px #3f6177 ;
}
h2{
    color: #74adc5;
}
h3{
    color: #86bdd5;
    text-align: center;
}
nav{
    padding: 15px 1px 5px 1px;
    text-align: center;
}
nav img{
    text-align: center;
    border-radius: 50%;
    width: 50px;
}    
nav img:hover{
    box-shadow: 2px 2px 20px 3px #67bbdc;
}
footer{
    color: #2c4b60 ;
    text-align: center;
    margin:5px 5px -5px 5px;
    text-shadow: 1px 1px 1px;
}
.print{
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: bottom;

}

    
   

