@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    width: 100vw;
    height: 100vh;  
      
   
}
body{
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
  
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(18, 39, 193, 0.948);
    padding: 10px;

}
nav{
    background-image: url('imagens/imagens-de-fundo/wallpaper\ noite.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;

    margin:  0 ;
    padding:5px 0 1px 0px ;
    text-align: center;
    color: rgb(140, 138, 138);
}
nav img{
    max-width: 50px;
    border-radius: 50%;      
}
nav img:hover{

    box-shadow: 2px 2px 20px 3px        #4387a1;
}
