@charset "UTF-8";
/* Estilos para tela */

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    padding: 50px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(101, 101, 101);

}
main{
    padding: 8px;
    margin: 10px;
} 
main p{
    padding: 2px;
}
#img2{
    max-width: 28%;
}


nav{
    background-color: rgb(1, 1, 42);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;

    margin: 0px;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding:5px 0 1px 0px ;
    text-align: center;
    color: rgb(140, 138, 138);
}
nav img{
    max-width: 50px;
    border-radius: 50%;      
}
nav img:hover{

    box-shadow: 2px 2px 20px 3px        #4387a1;
}

