@charset "UTF-8";
/* Estilos para tela */

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}
header{
    padding: 40px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(101, 101, 101);
}

main{
    padding: 4px;
}

 
main p{
    text-align: justify;
    
}
#img1{
    padding: 3px;
    max-width: 270px;
}
#img2{
    padding: 3px 5px;
    margin-bottom: 10px;
    max-width: 185px;
}


nav{
    background-color: rgb(78, 78, 79);
    padding: 15px 2px 15px 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(140, 138, 138);
}
nav img{
    max-width: 50px;
    border-radius: 50%;      
}
nav img:hover{
    box-shadow: 2px 2px 20px 3px        #4387a1;
}

